<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FlightWISE</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <div class="dark-filter">
    <% if(error == true) { %>
    <p class="heading">
      Couldn't find results
    </p>
    <% } else { %>
    <p class="heading">
      Flights from <span class="highlight"><%= source %></span> to <span class="highlight"><%= destination %></span> on <span class="highlight"><%= today %></span>
    </p>
    <div class="legs">
      <% for(const key in result) { %>
      <div class="fare">
        <p class="carrier"><%= key %></p>
        <p class="charges"><%= result[key] %></p>
      </div>
      <% } %>
    </div>
    <%}%>
  </div>
</body>

</html>